.upload_images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload_images label{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.2rem;
    margin: 0.5rem;
}

.upload_images input{
    margin-left: 10rem;
}

.upload_images_main_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
}

.upload_images_button_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #051c48;
    color: #fff;
    width: fit-content;
    margin-top: 21rem;
}

.show_images_add_div{
    margin-top: 1rem;
    font-size: 1.2rem;
}