.compass_form_div {
  display: flex;
  flex-direction: row;
  height: 100vh; /* directly sets the height relative to the viewport regardless of the parent elements, which ensures that the element fills the entire viewport regardless of its parent's height. */
}

.compass_image_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 50%;
}

.form_div {
  display: flex;
  justify-content: center;
  flex: 50%;
  flex-direction: column;
  background-color: #051c48;
  padding: 9rem;
  border-radius: 2.5rem 0rem 0rem 2.5rem;
}

.form_div p {
  color: #fff;
  font-size: 3.5rem; /* rem based on the document font size good for responsive website */
}

.form-label {
  color: #fff;
}

.login_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.login_button button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5db9ea;
  width: 100%;
  padding: 0.3rem;
  border-radius: 0.3rem;
  color: #000;
  font-size: 1.2rem;
}

.login_account{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}


.login_account p{
  font-size: 1.3rem;
}

.login_account span{
  color: #5db9ea;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 768px) {
  .compass_form_div {
    flex-direction: column;
  }

  .compass_image_div,
  .form_div {
    flex: 100%;
  }

  .compass_image_div {
    margin-top: 2rem;
  }
}
