.chatbot-container {
  position: relative;
  margin-bottom: 20px;
  z-index: 10000;
}

.chatbot-button {
  position: fixed;
  bottom: 1rem;
  right: 0.8rem;
  z-index: 9999;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.chatbot {
  position: fixed;
  bottom: 1rem;
  right: 0.8rem;
  width: 400px; /* Increased width */
  height: 500px; /* Increased height */
  background-color: #fff;
  border: 0px solid #ccc;
  border-radius: 5px;
  overflow: hidden; /* Hidden overflow */
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close-icon {
  position: absolute;
  top: 0.4rem;
  left: 0.1rem;
  cursor: pointer;
}

.user-chat-content{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 1rem;
  word-wrap: break-word; 
}

.bot-chat-content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1rem;
}

.chat-content {
  background-color: #e0e0e0;
  padding: 0.6rem;
  margin: 0.5rem;
  border-radius: 1rem;
  width: 60%;
  word-wrap: break-word;
}

.chat-content-bot {
  background-color: #007bff;
  padding: 0.6rem;
  margin: 0.5rem;
  border-radius: 1rem;
  color: #fff;
  width: fit-content;
  word-wrap: break-word; 
}

.chatbot.open {
  display: flex; /* Change display to flex when open */
  flex-direction: column-reverse; /* Reverse stacking order */
}

.chatbot-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbot-messages {
  overflow-y: scroll; /* Make the messages scrollable */
  padding: 10px;
}

.message {
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 5px;
  max-width: 70%;
}

.message.user {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end;
}

.message.server {
  background-color: #f0f0f0;
  color: #333;
  align-self: flex-start;
}

.chatbot-input {
  padding: 10px;
  display: flex;
  align-items: center;
}

.chatbot-input input[type="text"] {
  flex: 1; /* Take up remaining space */
  margin-right: 10px; 
  border: 1px solid #000;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.chatbot-input button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
