.destination_main_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 25rem;
}

.destination_search_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestions-list {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  width: 50%;
  margin-top: 1px;
  padding: 0;
  list-style-type: none;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

.destination_search_div input {
  position: relative;
  margin: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 30%;
  margin-left: 15rem;
}

.destination_search_filter_div {
  display: flex;
  flex-direction: column;
  margin-left: 18rem;
}

.destination_search_filter_div div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.destination_search_filter_div input {
  margin: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 10%;
  margin-left: 2rem;
}

.no_itineraries {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  margin-left: 30rem;
  margin-top: 2rem;
}

.destination_search_filter_div button {
  background-color: #4584ef;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: 2rem;
  width: 10%;
  margin-top: 2rem;
}

.destination_image_div {
  margin: 2rem 2rem 2rem 2rem;
  cursor: pointer;
}

.destination_image {
  border-radius: 1rem;
}

.name_travel_favourite_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.name_travel_favourite_div p {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.avgTravel_div {
  color: #000;
}

.HeartAnimation {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png");
  height: 100px;
  width: 100px;
  cursor: pointer;
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  margin-right: -2rem;
  margin-top: -2rem;
}

.animate {
  animation: heart-burst 0.8s steps(28) forwards;
}

.update_delete_functionality_div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.show_images_update_div {
  display: flex;
  flex-direction: column;
}

@keyframes heart-burst {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.react-chatbot-kit-chat-container {
  display: flex;
}

.destination_modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0rem 1rem 0rem;
}
.destination_modal_div {
  padding: 1rem 2rem 1rem 2rem;
}

.modal_weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal_weather p {
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
  margin-right: 1rem;
}

hr {
  margin-top: -0.5rem;
}

.modal_description_div {
  font-size: 1.2rem;
}

.modal_image_div {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 1rem;
}

.modal_image {
  margin-right: 1rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

.state_category_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
}

.attractions_directions_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.attractions_div {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: 500;
}

.get_directions_button button {
  background-color: #4584ef;
  color: #fff;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.add_review_data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem 2rem 0rem;
  font-size: 1.3rem;
}

.already_review_data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem 2rem 0rem;
  font-size: 1.3rem;
}

.add_review_data p {
  border: 1px solid #000;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.reviews_length {
  font-size: 1.3rem;
}

.review_modal_user_div {
  display: flex;
  flex-direction: row;
}

.main_review_div {
  border: 1px solid #000;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  margin: 0rem 2rem 2rem 0rem;
}

.main_review_div p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.add_review_div {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.add_review_div p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.add_review_div input {
  outline: none;
}

.add_review_div button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  background-color: #4584ef;
  width: 100%;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.add_review_div label {
  margin: 0.5rem 0rem 0.5rem 0rem;
}
