html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-decoration: none;
}

Link {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  text-decoration: none;

  font-family: "Lato", "Lato-Regular", "Helvetica Neue", "Helvetica Arial",
    sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
  outline: none;
  width: 7rem;
}

*:focus {
  outline: 0 !important;
}

table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px;
  font-size: 0.9rem;
  width: 10%;
}
th {
  background-color: #f2f2f2;
}
