.travel_background_image {
  position: absolute;
  filter: brightness(30%) contrast(90%);
}

.travel_name_div {
  position: relative;
  font-size: 3.5rem;
  margin: 2rem;
  color: #5db9ea;
  font-weight: 500;
}

.travel_slogan_button_div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem;
  width: 80%;
}

.travel_slogan_div {
  position: relative;
  font-size: 3rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 12rem;
}

.travel_button_div{
  position: relative;
  font-size: 3rem;
  margin-top: 10rem;
  margin-left: 2rem;  
  color: #fff;
  font-weight: 400;
  line-height: 1.5; 
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.travel_button_div button{
  background-color: #5db9ea;
  color: #000;
  width: 60%;
  font-size: 1.3rem;
  border-radius: 1rem;  
  padding: 0.6rem 10rem 0.6rem 10rem; /* top | right | bottom | left */
  margin: 2rem;
  cursor: pointer;
}

.travel_button_div div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.admin_login_button{
  margin-left: 7rem;
}

.admin_login_button button{
  white-space: nowrap;
   text-align: center;
}