.itinerary_main_div {
  display: flex;
  margin-left: 25rem;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
}

.itinerary_box_div {
  border: 1px solid #000;
  width: 15rem;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 3rem 2rem 2rem 2rem;
}

.itinerary_box_div div p {
  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itinerary_box_div .name_travel_favourite_div div:first-child {
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
}

.itinerary_box_div .name_travel_favourite_div div p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.share-icon {
  width: 35px;
  height: 35px;
  background-color: #051c48;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.share-icon:before {
  content: "\f064"; /* Unicode for FontAwesome share icon */
  font-family: FontAwesome; /* Using FontAwesome for icons */
}

.share_icon_div {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 1rem;
}

.share_icon_explore_div {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 1rem;
}

.share_icon_explore_div div {
  margin-left: -1rem;
}

.modal_data_details_div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.1rem;
}

.modal_data_details_div div p {
  font-weight: 600;
}

.add_itinerary_div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 600;
}

.add_itinerary_modal_div {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.add_itinerary_modal_div div {
  display: flex;
  flex-direction: row;
}

.add_itinerary_modal_div div div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.add_itinerary_modal_div div div label {
  margin: 0.2rem 0.2rem 1rem 0.2rem;
  font-size: 1.2rem;
}

.add_itinerary_modal_div div div input {
  margin: 0.2rem 0.2rem 1rem 0.2rem;
  padding: 0.5rem;
}

.add_row_modal_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_input_modal_div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add_location_date_div {
  background-color: #051c48;
  padding: 0.5rem;
  color: #fff;
  border-radius: 0.5rem;
  margin: 4rem 2rem 2rem 2rem;
}

.create_itinerary_main_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create_itinerary_button_div {
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #051c48;
  width: fit-content;
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  margin: 0rem 2rem 2rem 2rem;
  cursor: pointer;
}

.plus-icon {
  font-size: 2em;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #051c48;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.displayed_values_div {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
