.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-color: transparent; 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1100;
  }