.explore_maps_main_div{
    display: flex;
    margin-left: 22rem;
    flex-direction: column;
}


.maps_destinations_div{
    margin-top: -3rem;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    font-weight: 600;
}

.destination_image_maps_div {
    margin: 1rem 1rem 1rem 1rem;
    cursor: pointer;
    flex-shrink: 0;
  }