.sidenav {
  width: 350px;
  transition: width 0.3s ease-in-out;
  height: 100vh;
  background-color: #051c48;
  padding-top: 1.75rem;
  position: fixed;
  border-radius: 0rem 2rem 2rem 0rem;
  z-index: 1000;
}

.sidenav_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.sideitem {
  display: flex;
  align-items: center;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  font-size: 1.3rem;
}
.linkText {
  padding-left: 1rem;
}

.sideitem:hover {
  background-color: #5db9ea;
  color: #000;
  border-radius: 0.3rem;
  transition: transform 1ms;
  padding: 1rem;
  transition-timing-function: ease;
}

.sideitem:hover  {
  background-color: #5db9ea;
  color: #000;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sideitem:hover .linkButton {
  background-color: #5db9ea;
  color: #000;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.linkButton {
  background-color: transparent;
  color: #fff;
  width: 100%;
  margin-left: 0.4rem;
}

.menuBtn {
  align-self: center;
  align-self: flex-start;
  justify-self: flex-end;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}

@media (max-width: 415px) {
  .sidenav {
    display: none;
  }
}
